.todo-lists {
    max-width: 540px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 35px 50px -15px #c2c3d680;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease;

    .todo-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-height: 500px;
        overflow-x: auto;

        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px 24px;
            gap: 24px;
            border-bottom: 1px solid #e3e4f1;
            transition: transform 0.2s ease, opacity 0.2s ease;
            cursor: grab;

            .edit-input {
                flex-grow: 1;
                outline: 0;
                border: 0;
                text-align: left;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: -0.25px;
                color: #494c6b;
                font-family: inherit;
                background: inherit;
            }

            span {
                flex-grow: 1;
                text-align: left;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: -0.25px;
                color: #494c6b;
            }

            img {
                cursor: pointer;
                transition: all 0.3s ease;
            }

            input[type="checkbox"] {
                appearance: none;
                width: 24px;
                height: 24px;
                border: 1px solid #e3e4f1;
                border-radius: 100%;
                cursor: pointer;
                position: relative;
                transition: all 0.3s ease;
                outline: none;

                &:checked ~ span {
                    text-decoration: line-through;
                    color: #d1d2da;
                }

                &:checked {
                    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
                }

                &::before {
                    content: "";
                    background-image: url("/src/assets/icon/check.svg");
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 8px;
                    pointer-events: none;
                    display: none;
                }

                &:checked::before {
                    display: block;
                    z-index: 1;
                }
            }

            &:active {
                cursor: grabbing;
            }

            &.dragging {
                opacity: 0.5;
                background: #f8f8f8;
            }
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #9495a5;
            border-radius: 5px;
        }

        .empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 100%;
            height: 100%;
            padding: 50px 0px;
            img {
                width: 170px;
                height: 150px;
            }

            p {
                font-size: 14px;
                color: #494c6b;
            }
        }
    }
}
